.authors, #authors { font-weight: bold; font-style: italic; display: inline; }
.info, #info { display: inline; }
.details, .links { margin-left: 2em; }
#note { font-weight: bold; color: #444477; }
#footer { border-top: 1px solid gray; padding-top: 1em; margin-top: 1em; font-size: smaller; }
{font-family:verdana,helvetica,sans-serif}
a {text-decoration:none;color:#3030a0}
#content {
	margin-top: 1em;
    margin-left: 10em;
    margin-right: 0.5em;
}
#fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 8em;
    height: 100%;
}
#sectionnav { 
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}
body > #fixed {
    position: fixed;
}
img.jmlr {
    width: 7em;
}
img.rss {
    width: 2em;
}
