---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Verdana, Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

.authors,
#authors {
    font-weight: bold;
    font-style: italic;
    display: inline;
}
.info,
#info {
    display: inline;
}
.details,
.links {
    margin-left: 2em;
}
#note {
    font-weight: bold;
    color: #444477;
}
#footer {
    border-top: 1px solid gray;
    padding-top: 1em;
    margin-top: 1em;
    font-size: smaller;
}
{
    font-family: Verdana, Helvetica, Arial, sans-serif
}
a {
    text-decoration: none;
    color: #3030a0
}
##content {
    margin-top: 1em;
    margin-left: 10em;
    margin-right: 0.5em;
}
#fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 8em;
    height: 100%;
}
#sectionnav {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
body > #fixed {
    position: fixed;
}
img.jmlr {
    width: 7em;
}
img.rss {
    width: 2em;
}
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
