---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     10px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

.menuItem{
text-decoration:none;
color:#31639c;
font-family:arial,helvetica,sans-serif;
font-size:125%;
font-weight:bold;
}

.volume{
font-size:115%;
font-weight:bold;
}

a{
text-decoration:none;
color:#3030a0
}

.aNoUnder{
text-decoration:none;
color:#3030a0
}

.anchor{
color:#000000
}

.tiny{
font-size:75%;
}

.codebox {
    /* Below are styles for the codebox (not the code itself) */
    border:1px solid black;
    background-color:#EEEEFF;
    width:3em;
    height:1.5ex;
    overflow:hidden;
    padding:1px;
}
.codebox code {
    /* Styles in here affect the text of the codebox */
    font-size:0.7em;
    /* You could also put all sorts of styling here, like different font, color, underline, etc. for the code. */
}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
