---
layout: default
title: "Proceedings of Machine Learning Research"
---

<h2>ISSN: 2640-3498</h2>

<p>The Proceedings of Machine Learning Research  is a series that publishes machine learning research papers presented at workshops and conferences. Each volume is separately titled and associated with a particular workshop or conference and will be published online on the PMLR web site. Authors will retain copyright and individual volume editors are free to make additional hardcopy publishing arrangements (see for example the <a href="http://www.mtome.com/Publications/CiML/ciml.html">Challenges in Machine Learning</a> series which includes free PDFs and low cost hard copies), but PMLR will not produce hardcopies of these volumes. </p>

<h2>Editors</h2>

<p>The Series Editors are <a href="http://inverseprobability.com">Neil Lawrence</a> and <a href="http://people.cecs.anu.edu.au/user/2675">Mark Reid</a>. Please send proposals for new volumes under this series to Neil and Mark via e-mail: <a href="javascript:GoAddress('mark','reid.name');">mark<img src=/img/atr.gif border=0>reid.name</a> and <a href="javascript:GoAddress('ndl21','cam.ac.uk');">ndl21<img src=/img/atr.gif border=0>cam.ac.uk</a>. Each proposal should include:</p>
  
<ul>
  <li>A brief description of the event's scope and topics to be covered.</li>
  <li>A description of the review process for the proceedings.</li>
  <li>The names and short CVs (a few lines) of the proposed Proceedings Editors. </li>
</ul>

<p>For frequently asked questions on preparing proceedings please see the <a href="./faq.html">FAQ</a>.</p>

<h2>Scheduled Volumes</h2>
<ul class="proceedings-list">
  <li>Volume 107 is assigned to MSML 2019</li>
  <li>Volume 100 is assigned to CoRL 2019</li>
  <li>Volume 61 is assigned to the NIPS 2016 Symposium on Machine Learning and the Law</li>
  <li>Volume 59 is assigned to the NIPS 2016 Workshop on Reliable Machine Learning in the Wild</li>
</ul>

<h2>Proceedings</h2>

<ul class="proceedings-list">
  {% assign sorted = (site.github.public_repositories | sort: 'created_at') %}
{% for repository in sorted reversed %}{% if repository.has_pages %}{% unless repository.name contains 'github.io' %}{% if repository.name contains 'v' %}
  <li>
    <a href="{{ repository.name | prepend: site.baseurl }}"><b>Volume {{ repository.name | remove_first: "v" }}</b></a> {{ repository.description }} 
  </li>
  {% endif %}{% endunless %}{% endif %}{% endfor %}    
</ul>

<p>The rebranding of JMLR W&CP was finalized on 10th April 2017. The first volume to be published only on the PMLR site is volume 54, the 2017 AISTATS Proceedings. The ISSN of the old proceedings was: 1938-7228.</p>

<hr>

<p class="rss-subscribe">subscribe <a href="{{site.url}}{{site.baseurl}}{{ "/feed.xml"}}">via RSS</a></p>


