---
layout: default
---

<p>Welcome to the mlr.press home page! 

<p>This page hosts the <a href="./pmlr.html">Proceedings of Machine Learning Research</a>.

<div class="home">

  <h1 class="page-heading">Proceedings</h1>

  <ul class="post-list">
{% for repository in site.github.public_repositories %}
{% if repository.has_pages %}
{% unless repository.name contains 'github.io' %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ repository.name | prepend: site.baseurl }}"><b>{{ repository.name }}</b></a> {{ repository.description }} 
        </h2>
      </li>
{% endunless %}
{% endif %}
{% endfor %}    
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
