<div id="fixed">
  <br>
  <a align="right" href="http://www.jmlr.org" target=_top><img align="right" class="jmlr" src="/img/jmlr.jpg" border="0"></a> 
  <p><br><br>
  <p align="right"> <a href="/">PMLR</a>
  <p align="right"> <a href="http://www.jmlr.org/">JMLR</a> 
  <p align="right"> <a href="http://www.jmlr.org/mloss">MLOSS</a>
  <p align="right"> <a href="/faq.html">FAQ</a>
  <p align="right"> <a href="/spec.html">Submission Format</a>
  <p><br><br>
  <p align="right"> <a href="http://proceedings.mlr.press/feed.xml"> 
      <img src="/img/RSS.gif" class="rss" alt="RSS Feed">
    </a>
</div>
