<div class="paper">
  <p class="title">{{ post.title }}</p>
  <p class="details">
  <span class="authors">
    {% assign lastone = post.author | last %}
    {% for person in post.author %}
    {% include listperson.html %}
    {% endfor %}
  </span>;
  <span class="info">PMLR {{ site.volume}}:{% if post.firstpage %}{{ post.firstpage }}{% endif %}{% if post.lastpage %}-{{ post.lastpage }}{% endif %}</span>
  </p>
    <p class="links">
      [<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">abs</a>]
      {% if post.pdf %}[<a href="{{ post.pdf }}">pdf</a>]{% endif %}
    </p>
</div>
