<div id="fixed">
<br>
<a align="right" href="http://www.jmlr.org" target=_top><img align="right" class="jmlr" src="/img/jmlr.jpg" border="0"></a> 
<p><br><br>
<p align="right"> <A href="http://www.jmlr.org/"> Home Page </A> 

<p align="right"> <A href="http://www.jmlr.org/papers"> Papers </A> 

<p align="right"> <A href="http://www.jmlr.org/author-info.html"> Submissions </A> 

<p align="right"> <A href="http://www.jmlr.org/news.html"> News </A> 

<p align="right"> <A href="http://www.jmlr.org/editorial-board.html"> Editorial Board </A> 

<p align="right"> <A href="http://www.jmlr.org/announcements.html"> Announcements </A>

<p align="right"> <A href="/"> Proceedings </A>

<p align="right"> <A href="http://www.jmlr.org/mloss">Open Source Software</A>

<p align="right"> <A href="http://www.jmlr.org/search-jmlr.html"> Search </A>

<p align="right"> <A href="http://www.jmlr.org/manudb"> Login </A></p>

<br><br>
<p align="right"> <A href="http://www.jmlr.org/jmlr.xml"> 
<img src="/img/RSS.gif" class="rss" alt="RSS Feed">
</A>



</div>
