<article class="post-content">
  <h1>{{ page.title }}</h1>
  {% include edit_link.html %}
  <div id="authors" class="authors">
    {% assign lastone = page.author | last %}
    {% for person in page.author %}
    {% include listperson.html %}
    {% endfor %};
  </div>
  <div id="info" class="authors">
    {{ page.container-title }}, PMLR {{ page.volume }}:{{ page.page }}, {{ page.issued.date-parts.first }}.
  </div> <!-- info -->
  
  <h4>Abstract</h4>
  <div id="abstract" class="abstract">
    {{ page.abstract }}
  </div>
  <h4>Related Material</h4>
  <div id="extras">
    <ul>
      <li><a href="{{ page.pdf }}">Download PDF</a></li>
      {% for extra in page.extras %}
      <li><a href="{{ extra.link }}">{{ extra.label }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {{ content | markdownify }}
</article>
