---
layout: default
---
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  {% include paper_google_scholar.html %}
        
  <meta name="viewport" content="width=device-width">

</head>

{% include paper_abstract.html %}

{% if site.bibtex_copy %}
{% include bibtex_copy_section.html %}
{% endif %}
{% if site.comments %}
{% include disqus_comment_code.html %}
{% endif %}
</div>

<!-- copy widget -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../js/copy_input.js"></script>
